train:
  batch_size_per_gpu: 1024
  grad_accum_steps: 1
  datasets:
  - ct_rate
  data_dir: C:\Users\20195435\Documents\TUe\SPECTRE
  output_dir: .
  saveckp_freq: 20
  seed: 0
  num_workers: 10
  cache_dataset: true
  cache_dir: ./cache/monai/
  log_wandb: true
  log_freq: 1
optim:
  epochs: 100
  weight_decay: 0.04
  weight_decay_end: 0.4
  base_lr: 0.004
  lr: 0.  # will be set after applying scaling rule
  warmup_epochs: 10
  min_lr: 1.0e-06
  clip_grad_norm: 3.0
  scaling_rule: sqrt_wrt_1024
  adamw_beta1: 0.9
  adamw_beta2: 0.999
model:
  architecture: clip
  image_encoder:
    architecture: vit_base_patch16_128
    vit_pretrained: False
    depth: 12
    num_heads: 12
    mlp_ratio: 4.0
    qkv_bias: true
  feature_comb:
    architecture: vit_base_patch16_128
    feature_vit_pretrained: False
    patch_dim: 768
    num_patches: 36
    depth: 4
    num_heads: 12
    embed_dim: 768
  text_encoder:
    text_encoder_config: infgrad/jasper_en_vision_language_v1
    text_encoder_pretrained: weights/text/jasper_en_vision_language_v1_base.pth

