train:
  batch_size_per_gpu: 1024
  grad_accum_steps: 1
  datasets:
  - ct_rate
  - inspect
  - merlin
  data_dir: C:\Users\20195435\Documents\TUe\SPECTRE
  output_dir: .
  saveckp_freq: 20
  seed: 0
  num_workers: 10
  cache_dataset: true
  cache_dir: ./cache/monai/
  log_wandb: true
  log_freq: 1
optim:
  epochs: 100
  base_lr: 0.004
  lr: 0.  # will be set after applying scaling rule
  warmup_epochs: 10
  min_lr: 1.0e-06
  clip_grad_norm: 3.0
  scaling_rule: sqrt_wrt_1024
  adamw_beta1: 0.9
  adamw_beta2: 0.999
model:
  architecture: vit_base_patch16_128
  pretrained_weights: null
  feature_comb_embed_dim: 768
  feature_comb_num_layers: 4
  feature_comb_num_heads: 12
  text_tokenizer: infgrad/jasper_en_vision_language_v1
  text_encoder_config: infgrad/jasper_en_vision_language_v1
  text_encoder_weights: weights/text/jasper_en_vision_language_v1_base.pth
  projection_dim: 2048
  learnable_t: true
  learnable_b: true
  init_t: 1.0
  init_b: 0.0
  normalize: true
