train:
  batch_size_per_gpu: 128
  grad_accum_steps: 1
  datasets:
  - ct_rate
  - inspect
  - merlin
  data_dir: /data/
  output_dir: .
  saveckp_freq: 20
  resume_ckp: true
  seed: 0
  num_workers: 10
  load_fp16: true
  pin_memory: true
  persistent_workers: true
  drop_last: true
  cache_dataset: true
  cache_dir: /data/cache/monai/
  log_wandb: true
  log_freq: 1
optim:
  epochs: 100
  base_lr: 1.0e-05
  lr: 0.  # will be set after applying scaling rule
  warmup_epochs: 0
  min_lr: 1.0e-08
  clip_grad_norm: 1.0
  scaling_rule: sqrt_wrt_1024
  adamw_beta1: 0.9
  adamw_beta2: 0.95
model:
  architecture: vit_base_patch16_128
  pretrained_weights: null
  feature_comb_embed_dim: 768
  feature_comb_num_layers: 4
  feature_comb_num_heads: 12
  text_tokenizer: NovaSearch/stella_en_1.5B_v5
  text_encoder_weights: /data/checkpoints/NovaSearch/stella_en_1.5B_v5/model.safetensors
  projection_dim: 4096
  learnable_t: true
  learnable_b: true
  init_t: 1.0
  init_b: 0.0
  normalize: true
